body.no-scroll {
    overflow: hidden;
    height: 100vh;
}
.lock-wrapper{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}
.close-button{
    margin: 5px -15px 0 auto;
    font-size: 30px;
}
.close-button:hover{
    cursor: pointer;
}
.more-details-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80vh;
    justify-self: center;
    background-color: white;
    padding: 0 30px 10px 30px;
    border-radius: 0.25em;
    position: fixed;
    top: 10%;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.lock-wrapper.active{
    opacity: 1;
    visibility: visible;
}
.more-details-wrapper.active{
    opacity: 1;
}
.more-details-container{
    display: flex;
    overflow: hidden;
    padding: 30px 0;
    gap: 1em;
}
.left-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    flex-wrap: wrap;
    padding-bottom: 5px;
    width: 55%;
    gap: clamp(5px, 1.5vw, 15px);
    overflow-y: scroll;
    
}
.left-container> img{
    width: 95%;
    height: 200px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0.25em;
}
.right-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    flex: 1;
}
.right-more-details-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}
h3{
    margin: 0 0 20px 0;
}
h4{
    margin-bottom: 10px;
}
.more-logo{
     width: clamp(15px, 1.2vw, 60px);
}
.circle-check-logo{
    width: clamp(15px, 1vw, 40px);
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.bed-image-wrapper{
    display: flex;
}
ul> li{
    display: flex;
    align-items: center;
    gap: 3px;
}
.free{
    color: rgb(206, 134, 0);
}
.not-available{
    text-decoration: line-through;
    opacity: 0.4;
}
.last-item{
    display: flex;
}
@media only screen and (max-width: 599px){
    .more-details-wrapper{
        width: 100%;
        height: 100vh;
        padding-top: 52px;
        padding-bottom: 45px;
        display: flex;
        flex-direction: column;
        overflow: hidden;  
        top: 0;
        left: 0;
        border-radius: 0;
    }
    .close-button{
        margin: 5px auto 0 0;
    }
    .more-details-container{
        flex: 1;               
        overflow-y: auto;       
        flex-direction: column;
        padding-top: 0;
    }
    .left-container,
    .right-more-details-container{
        overflow: visible;
    }
    .left-container{
        width: 100%;
    }
    .left-container> img{
        width: 100%;
    }
}
