.third-section{
    padding: 80px 0;
}
.third-section> img{
    width: clamp(300px, 50%, 800px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 0.25em;
}
@media only screen and (max-width: 768px){
    .third-section{
        flex-direction: column;
    }
    .third-section> img{
        margin: 0 auto;
    }
}